
/* referencing only <p> elements that have a name attribute */

#title {
    font: bold 36px MyNewFont, Verdana, sans-serif;
    color: #cccccc;
}
@font-face {
    font-family: "MyNewFont";
    src:url("../fonts/OneTime.ttf")
}
#description {
    text-align: center;
    width: 450px;
    height: 200px;
    overflow: scroll;
}

header {
    width: 450px;
    margin: 30px;
    padding: 15px;
    text-align: center;
    border: 5px solid;
    box-shadow: rgb(128, 123, 123) 5px, 5px 20px 10px;
}

a {
    text-decoration: none;
}
section {
    background-color: #cccccc;
    overflow: auto;
}
section img {
    float: left;
    margin: 0px 10px;
}
#parentbox {
    width: 600px;
    border: 1px solid;
}
#box-1{
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #AAAA;
}
#box-2{
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #CCCC;
}
#box-3{
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #AAAA;
}
#box-4{
    float: left;
    width: 140px;
    height: 50px;
    margin: 5px;
    background-color: #CCCC;
}
.clearfloat {
    clear: both;
}

